* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #575757;
}

.common-btn button{
    background-color: #2563EB;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
}